section h1 {
  font-family: "Anton", sans-serif;
  font-size: 5rem;
  font-weight: 700;
}
section p {
  font-family: "Libre Baskerville", serif;
  font-size: 1.875rem;
}
.button-size {
  width: 15.625rem;
  height: 5rem;
  background-color: blue;
  color: white;
  transition: --bs-btn-hover-bg 0s;
  --bs-btn-active-bg: #008000;
  font-size: 0.8125rem;
}
.button-size:hover {
  --bs-btn-hover-bg: #008000;
}
